<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item" [ngClass]="{'active': idx == 0}" *ngFor="let slide of slides; let idx = index">
                            <!-- has class active to active-->
                            <div class="col-sm-6">
                                <h1> >>> <span>{{slide.title}}</span>
                                    <<< </h1>
                                        <h2>{{slide.description}}</h2>
                                        <p>{{slide.content}}</p>
                                        <button type="button" class="btn btn-default get">Mua ngay kẻo hết</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{slide.image}}" class="girl img-responsive" alt="quanaudio.vn" />
                                <img src="{{slide.advertisement}}" class="pricing" alt="" />
                            </div>
                        </div>
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/slider-->